/*la fuente es de 100bold y 700italic*/
@media screen and (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .fondoPiza {
    position: absolute;
    position: fixed;
    z-index: -10;
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    background-image: url(../image/fondoGris5.jpg);
  }
  .container .portada {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .portada h1 {
    font-size: 5em;
    font-style: italic;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  .container .portada h1 span {
    font-size: .2em;
    letter-spacing: 3px;
  }
  .container .portada i {
    font-size: 5em;
    margin: 10px;
    color: #0e0d0d;
    -webkit-filter: drop-shadow(0px 0px 20px white);
            filter: drop-shadow(0px 0px 20px white);
  }
  .container .portada p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: italic;
    margin: 10px;
    letter-spacing: 3px;
    color: white;
  }
  .container .portada button {
    font-size: 1.2em;
    width: 150px;
    height: 30px;
    background-color: black;
    border: none;
    outline: none;
    margin: 0;
    -webkit-filter: drop-shadow(0 0 20px white);
            filter: drop-shadow(0 0 20px white);
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    border-radius: 6px;
  }
  .container .portada button a {
    text-decoration: none;
    color: white;
  }
  .container .portada button:active {
    background: white;
    border: 1px solid black;
  }
  .container .portada button:active a {
    color: black;
  }
  footer {
    width: 100vw;
    height: 15vh;
  }
  footer div {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    color: white;
  }
  footer div h4 {
    margin: 5px;
    color: white;
  }
  footer div ul {
    margin: 10px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer div ul li {
    list-style: none;
  }
  footer div ul li a i {
    color: white;
    margin: 5px;
  }
  .pizzas {
    background-image: url(../image/fondogris4.jpeg);
  }
  .sliderProducpizza {
    width: 100vw;
    height: 35vh;
    margin-top: 13vh;
    overflow: auto;
  }
  .sliderProducpizza .contentImg {
    overflow: hidden;
    width: 1000px;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 9px 0;
  }
  .sliderProducpizza .contentImg .cajaImage {
    width: 150px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.7);
    border-radius: 10px;
    -webkit-backdrop-filter: 20px;
            backdrop-filter: 20px;
    -webkit-box-shadow: 0px 0px 20px #6e6f6d;
            box-shadow: 0px 0px 20px #6e6f6d;
  }
  .sliderProducpizza .contentImg .cajaImage h4 {
    display: table;
    padding: 2px;
    margin: 5px 10px;
    font-size: .8em;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 0 4px 4px 4px;
  }
  .sliderProducpizza .contentImg .cajaImage img {
    display: block;
    width: 90%;
    height: 60%;
    margin: auto;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 10px #92948e;
            box-shadow: 0px 0px 10px #92948e;
  }
  .sliderProducpizza .contentImg .cajaImage button {
    display: block;
    outline: none;
    border: none;
    margin: 15px auto;
    font-size: .7em;
    padding: 2px 15px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
  }
  h1 {
    text-align: center;
    color: #fff;
  }
  .sliderComplement {
    width: 100vw;
    height: 45vh;
    margin-top: 2vh;
    overflow: auto;
  }
  .sliderComplement .contentComplement {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1ft)[6];
        grid-template-rows: repeat(6, 1ft);
        grid-template-areas: "uno dos" "uno tres" "cuatro tres" "cuatro seis" "cinco seis" "siete siete";
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }
  .sliderComplement .contentComplement .cajacomplementos {
    width: 100%;
    border-radius: 10px;
  }
  .sliderComplement .contentComplement .cajacomplementos h4 {
    display: table;
    padding: 2px;
    margin: 5px 10px;
    font-size: .8em;
    background-color: #000;
    color: #fff;
    border-radius: 0 4px 4px 4px;
  }
  .sliderComplement .contentComplement .cajacomplementos img {
    display: block;
    width: 90%;
    height: 60%;
    margin: auto;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 10px #92948e;
            box-shadow: 0px 0px 10px #92948e;
  }
  .sliderComplement .contentComplement .cajacomplementos button {
    display: block;
    outline: none;
    border: none;
    margin: 15px auto;
    font-size: .7em;
    padding: 2px 15px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
  }
  .sliderComplement .contentComplement .rectangulo {
    margin: auto;
    height: 40vh;
  }
  .sliderComplement .contentComplement .cuadrado {
    height: 25vh;
  }
  .sliderComplement .contentComplement #uno {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: uno;
    background-color: rgba(93, 91, 91, 0.8);
  }
  .sliderComplement .contentComplement #dos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: dos;
    background-color: rgba(182, 168, 92, 0.8);
  }
  .sliderComplement .contentComplement #tres {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: tres;
    background-color: rgba(242, 242, 242, 0.8);
  }
  .sliderComplement .contentComplement #cuatro {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: cuatro;
    background-color: rgba(173, 134, 51, 0.8);
  }
  .sliderComplement .contentComplement #cinco {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: cinco;
    background-color: rgba(221, 174, 63, 0.8);
  }
  .sliderComplement .contentComplement #seis {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: seis;
    background-color: rgba(165, 127, 201, 0.8);
  }
  .sliderComplement .contentComplement #siete {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: siete;
    background-color: rgba(242, 242, 242, 0.8);
  }
  .sliderComplement .contentComplement #siete img {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */