@import '../sass/varibles';

@media screen and (min-width:300px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .pizzas{
        z-index: -10;
        width: 100vw;
        height: auto;
        // background-image: url(../image/fondogris4.jpeg);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
    }
    .container{
        width: 100vw;
        height: 85vh;        
        .portada{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 5em;
                font-style: italic;
                margin: 10px;
                display: flex;
                flex-direction:column ;
                color: white;
                span{
                    font-size: .2em;
                    letter-spacing: 3px;
                    
                }
            }
            i{
                font-size: 5em;
                margin: 10px;
                color: rgb(14, 13, 13);
                filter: drop-shadow(0px 0px 20px white);
            }
            p{
                font-family: $fuenteuno;
                font-weight: 300;
                font-style: italic;
                margin: 10px;
                letter-spacing: 3px;
                color: white;
            }
            button{
                font-size: 1.2em;
                width: 150px;
                height: 30px;
                background-color: black;
                border: none;
                outline: none;
                margin: 0;
                filter: drop-shadow(0 0 20px white);

                cursor: pointer;
                font-family: $fuenteuno;
                font-style: italic;
                border-radius: 6px;
                a{
                    text-decoration: none;
                    color: white;
                }
                &:active{
                    background: white;
                   a{
                       color: black;
                   }
                    border: 1px solid black;
                }

            }

        }
    }
    footer{
        
        width: 100vw;
        height: 15vh;
        div{
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            h4{
                margin: 5px;
                color: white;
            }
            ul{
                margin: 10px;
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                li{
                    list-style: none;
                    a{
                        i{
                            color: white;
                            margin: 5px;
                            
                        }
                    }
                }
            }

        }
    }

    .titulo{
        margin-top: 13vh;
        color: rgb(240, 234, 234);
    }
    .sliderProducpizza{
      width: 100vw;
      height: 40vh;
      
      overflow: auto;
      
      .contentImg{
        overflow: hidden;
        width: 1000px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .cajaImage{
            margin: auto;
            width: 145px;
            height: 80%;
            border-radius: 10px;
            background: #ebebeb;
            box-shadow:  5px 5px 10px #5e5e5e,
                         -5px -5px 10px #ffffff;
            transition: .5s;
            &:hover{
                transform: scale(1.05);
            }

            
            h4{
                display: table;
                padding: 2px;
                margin: 5px 10px;
                font-size: .8em;
                border: 1px solid #000;
                background-color: #000;
                color: #fff;
                border-radius: 0 4px 4px 4px;
                
            }
            img{
                display: block;
                width: 90%;
                height: 60%;
                margin: auto;
                border-radius: 50%;
                box-shadow: 0px 0px 10px rgb(146, 148, 142);
            }
            button{
                display: block;
                outline: none;
                border: none;
                margin: 15px auto;
                font-size: .7em;
                padding: 2px 15px;
                border-radius: 7px;
                background-color: #000;
                color: #fff;

            }
        }
      }
    }
    h1{
        text-align: center;
        color: rgb(235, 225, 225);
        font-style: italic;
        font-weight: 300;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(148, 148, 148);

    }

    .sliderComplement{
        width: 100vw;
        height: auto;
        margin: 2vh auto;
        border-radius: 5px;

        .contentComplement{
            width: 100%;
            display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(6,1ft);
                grid-template-areas: 
                            "uno dos"
                            "uno tres"
                            "cuatro tres"
                            "cuatro seis"
                            "cinco seis"
                            "siete siete";
                column-gap: 5px;
                row-gap: 15px;
            margin-bottom: 10vh;
            .cajacomplementos{
                width: 85%;
                border-radius: 10px;
                margin: auto;
                
                animation: floatar 4s infinite linear;
                @keyframes floatar {
                    0%{
                        transform: translateY(0);
                    }
                    50%{
                        transform: translateY(10px);    
                    }
                    100%{
                        transform: translateY(0);    

                    }

                }
                h4{
                    display: table;
                    padding: 2px;
                    margin: 5px 10px;
                    font-size: .8em;
                    background-color: #000;
                    color: #fff;
                    border-radius: 0 4px 4px 4px;
                }
                img{
                    display: block;
                    width: 90%;
                    height: 60%;
                    margin: auto;
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px rgb(146, 148, 142);
                }
                button{
                    display: block;
                outline: none;
                border: none;
                margin: 15px auto;
                font-size: .7em;
                padding: 2px 15px;
                border-radius: 7px;
                background-color: #000;
                color: #fff;

                }
            }
            .rectangulo{
                margin: auto;
                height: 35vh;
            }
            .cuadrado{
                height: 25vh;
            }
            #uno{
                grid-area:uno;
                border-radius: 10px;
                border-radius: 10px;
                background: #919191;
                box-shadow:  11px 11px 22px #3a3a3a,
                             -11px -11px 22px #e8e8e8;
                animation-delay: .5s;

            }
            #dos{
                grid-area:dos;
                border-radius: 10px;
                border-radius: 10px;
                background: #ffc677;
                box-shadow:  11px 11px 22px #664f30,
                             -11px -11px 22px #ffffbe;
                animation-delay: .0s;
            }
            #tres{
                grid-area:tres;
                border-radius: 10px;
                border-radius: 10px;
                background: #ffffff;
                box-shadow:  11px 11px 22px #666666,
                             -11px -11px 22px #ffffff;
                animation-delay: .10s;
            }
            #cuatro{
                grid-area:cuatro;
                border-radius: 10px;
                border-radius: 10px;
                background: #fecb3e;
                box-shadow:  5px 5px 10px #d0a633,
                             -5px -5px 10px #fff049;
            animation-delay: .8s;
            }
            #cinco{
                grid-area:cinco;
                border-radius: 10px;
background: #ffd9a8;
box-shadow:  5px 5px 10px #d1b28a,
             -5px -5px 10px #ffffc6; }
             animation-delay: .2s;
            #seis{
                grid-area:seis;
                border-radius: 10px;
background: #e392fe;
box-shadow:  5px 5px 10px #ba78d0,
             -5px -5px 10px #ffacff;           
             animation-delay: .3s;
            }
            #siete{
                grid-area: siete;
                border-radius: 10px;
background: #ebebeb;
box-shadow:  5px 5px 10px #c1c1c1,
             -5px -5px 10px #ffffff;  
             animation-delay: .7s;            
                img{
                    width: 70%;
                }
            }

        }
      
    }


}