@import '../sass/varibles';

@media screen and (min-width:300px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .fondoPiza{
        position: absolute;
        position: fixed;
        z-index: -10;
        width: 100vw;
        height: 100vh;
    }
    .container{
        width: 100vw;
        height: 85vh;
        overflow: hidden;
        background-image: url(../image/fondoGris5.jpg);
        .portada{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 5em;
                font-style: italic;
                margin: 10px;
                display: flex;
                flex-direction:column ;
                color: white;
                span{
                    font-size: .2em;
                    letter-spacing: 3px;
                    
                }
            }
            i{
                font-size: 5em;
                margin: 10px;
                color: rgb(14, 13, 13);
                filter: drop-shadow(0px 0px 20px white);
            }
            p{
                font-family: $fuenteuno;
                font-weight: 300;
                font-style: italic;
                margin: 10px;
                letter-spacing: 3px;
                color: white;
            }
            button{
                font-size: 1.2em;
                width: 150px;
                height: 30px;
                background-color: black;
                border: none;
                outline: none;
                margin: 0;
                filter: drop-shadow(0 0 20px white);

                cursor: pointer;
                font-family: $fuenteuno;
                font-style: italic;
                border-radius: 6px;
                a{
                    text-decoration: none;
                    color: white;
                }
                &:active{
                    background: white;
                   a{
                       color: black;
                   }
                    border: 1px solid black;
                }

            }

        }
    }
    footer{
        
        width: 100vw;
        height: 15vh;
        div{
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            h4{
                margin: 5px;
                color: white;
            }
            ul{
                margin: 10px;
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                li{
                    list-style: none;
                    a{
                        i{
                            color: white;
                            margin: 5px;
                            
                        }
                    }
                }
            }

        }
    }
    .pizzas{
        background-image: url(../image/fondogris4.jpeg);
    }
    .sliderProducpizza{
      width: 100vw;
      height: 35vh;
      margin-top: 13vh;
      overflow: auto;
      
      .contentImg{
        overflow: hidden;
        width: 1000px;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 9px 0;
        
        .cajaImage{
            width: 150px;
            border-radius: 10px;
            background-color: rgba(242, 242, 242, 0.7);
            border-radius: 10px;
            backdrop-filter: 20px;
            box-shadow: 0px 0px 20px rgb(110, 111, 109);

            
            h4{
                display: table;
                padding: 2px;
                margin: 5px 10px;
                font-size: .8em;
                border: 1px solid #000;
                background-color: #000;
                color: #fff;
                border-radius: 0 4px 4px 4px;
                
            }
            img{
                display: block;
                width: 90%;
                height: 60%;
                margin: auto;
                border-radius: 10%;
                box-shadow: 0px 0px 10px rgb(146, 148, 142);
            }
            button{
                display: block;
                outline: none;
                border: none;
                margin: 15px auto;
                font-size: .7em;
                padding: 2px 15px;
                border-radius: 7px;
                background-color: #000;
                color: #fff;

            }
        }
      }
    }
    #title{
        text-align: center;
        color: #fff;
        font-size: .8em;
        font-style: italic;
        letter-spacing: 3px;
    }

    .sliderComplement{
        width: 90vw;
        height: 45vh;
        margin: 2vh auto;
        overflow: auto;   

        .contentComplement{
            width: 100%;
            margin-bottom: 70px;
            display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(6,1ft);
                grid-template-areas: 
                            "uno dos"
                            "uno tres"
                            "cuatro tres"
                            "cuatro seis"
                            "cinco seis"
                            "siete siete";
                column-gap: 10px;
                row-gap: 10px;
            .cajacomplementos{
                width: 100%;
                border-radius: 10px;
                h4{
                    display: table;
                    padding: 2px;
                    margin: 5px 10px;
                    font-size: .8em;
                    background-color: #000;
                    color: #fff;
                    border-radius: 0 4px 4px 4px;
                }
                img{
                    display: block;
                    width: 90%;
                    height: 60%;
                    margin: auto;
                    border-radius: 10%;
                    box-shadow: 0px 0px 10px rgb(146, 148, 142);
                }
                button{
                    display: block;
                outline: none;
                border: none;
                margin: 15px auto;
                font-size: .7em;
                padding: 2px 15px;
                border-radius: 7px;
                background-color: #000;
                color: #fff;

                }
            }
            .rectangulo{
                margin: auto;
                height: 40vh;
            }
            .cuadrado{
                height: 25vh;
            }
            #uno{
                grid-area:uno;
                background-color: rgba(93, 91, 91, 0.8);

            }
            #dos{
                grid-area:dos;
                background-color: rgba(182, 168, 92, 0.8);
            }
            #tres{
                grid-area:tres;
                background-color: rgba(242, 242, 242, 0.8);
            }
            #cuatro{
                grid-area:cuatro;
                background-color: rgba(173, 134, 51, 0.8);
            }
            #cinco{
                grid-area:cinco;
                background-color: rgba(221, 174, 63, 0.8);
            }
            #seis{
                grid-area:seis;
                background-color: rgba(165, 127, 201, 0.8);
            }
            #siete{
                grid-area: siete;
                background-color: rgba(242, 242, 242, 0.8);
                img{
                    width: 70%;
                }
            }

        }
      
    }


}