@import '../sass/varibles';

@media screen and (min-width:300px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    // .pizzas{
    //     z-index: -10;
    //     width: 100vw;
    //     height: auto;
      
    // }
    /*contenedor y titulo*/
    .contenedorPortada{
        width: 100vw;
        height: 85vh;  
        background-color: #ffffff;
        .portada{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 5em;
                font-style: italic;
                margin: 10px;
                display: flex;
                flex-direction:column ;
                color: rgb(7, 6, 6);
                span{
                    font-size: .2em;
                    letter-spacing: 3px;
                    
                }
            }
            i{
                font-size: 5em;
                margin: 10px;
                color: rgb(14, 13, 13);
                filter: drop-shadow(0px 0px 20px white);
            }
            p{
                font-family: $fuenteuno;
                font-weight: 300;
                font-style: italic;
                margin: 10px;
                letter-spacing: 3px;
                color: rgb(4, 3, 3);
            }
            button{
                font-size: 1.2em;
                width: 150px;
                height: 30px;
                background-color: black;
                border: none;
                outline: none;
                margin: 0;
                filter: drop-shadow(0 0 20px white);
                margin: 8px auto;
                cursor: pointer;
                font-family: $fuenteuno;
                font-style: italic;
                border-radius: 6px;
                a{
                    text-decoration: none;
                    color: white;
                }
                &:active{
                    background: white;
                   a{
                       color: black;
                   }
                    border: 1px solid black;
                }

            }

        }
    }
    footer{
        
        width: 100vw;
        height: 15vh;
        div{
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            h4{
                margin: 5px;
                color: white;
            }
            ul{
                margin: 10px;
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                li{
                    list-style: none;
                    a{
                        i{
                            color: white;
                            margin: 5px;
                            
                        }
                    }
                }
            }

        }
    }

    .titulo_margin{
        margin-top: 2vh;
    }
    .titulo{
        background-color: rgb(219, 165, 79);
        color: white;
        text-align: center;
        margin-top: 13vh;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
    }
    .sliderProducpizza{
      width: 100vw;
      height: 40vh;
      
      overflow: auto;
      
      .contentImg{
        overflow: hidden;
        width: 1000px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .cajaImage{
            margin: auto;
            width: 145px;
            height: 80%;
            border-radius: 10px;
            background: #ebebeb;
            box-shadow:  5px 5px 10px #5e5e5e,
                         -5px -5px 10px #ffffff;
            transition: .5s;
            &:hover{
                transform: scale(1.05);
            }

            
            h4{
                display: table;
                padding: 2px;
                margin: 5px 10px;
                font-size: .8em;
                border: 1px solid #000;
                background-color: #000;
                color: #fff;
                border-radius: 0 4px 4px 4px;
                
            }
            img{
                display: block;
                width: 90%;
                height: 60%;
                margin: auto;
                border-radius: 50%;
                box-shadow: 0px 0px 10px rgb(146, 148, 142);
            }
            button{
                display: block;
                outline: none;
                border: none;
                margin: 15px auto;
                font-size: .7em;
                padding: 2px 15px;
                border-radius: 7px;
                background-color: #000;
                color: #fff;

            }
        }
      }
    }
    #title{
        text-align: center;
        color: rgb(235, 225, 225);
        font-style: italic;
        font-weight: 300;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(148, 148, 148);

    }

    .sliderComplement{
        width: 100vw;
        height: auto;
        margin: 2vh auto;
        border-radius: 5px;

        .contentComplement{
            width: 100%;
            margin-bottom: 70px;
            display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(6,1ft);
                grid-template-areas: 
                            "uno dos"
                            "uno tres"
                            "cuatro tres"
                            "cuatro seis"
                            "cinco seis"
                            "siete siete";
                column-gap: 5px;
                row-gap: 15px;
            margin-bottom: 10vh;
            .cajacomplementos{
                width: 85%;
                border-radius: 10px;
                margin: auto;
                
                animation: floatar 4s infinite linear;
                @keyframes floatar {
                    0%{
                        transform: translateY(0);
                    }
                    50%{
                        transform: translateY(10px);    
                    }
                    100%{
                        transform: translateY(0);    

                    }

                }
                h4{
                    display: table;
                    padding: 2px;
                    margin: 5px 10px;
                    font-size: .8em;
                    background-color: #000;
                    color: #fff;
                    border-radius: 0 4px 4px 4px;
                }
                img{
                    display: block;
                    width: 90%;
                    height: 60%;
                    margin: auto;
                    border-radius: 50%;
                    box-shadow: 0px 0px 10px rgb(146, 148, 142);
                }
                button{
                    display: block;
                outline: none;
                border: none;
                margin: 15px auto;
                font-size: .7em;
                padding: 2px 15px;
                border-radius: 7px;
                background-color: #000;
                color: #fff;

                }
            }
            .rectangulo{
                margin: auto;
                height: 35vh;
            }
            .cuadrado{
                height: 25vh;
            }
            #uno{
                grid-area:uno;
                border-radius: 10px;
                border-radius: 10px;
                background: #919191;
                box-shadow:  11px 11px 22px #3a3a3a,
                             -11px -11px 22px #e8e8e8;
                animation-delay: .5s;

            }
            #dos{
                grid-area:dos;
                border-radius: 10px;
                border-radius: 10px;
                background: #ffc677;
                box-shadow:  11px 11px 22px #664f30,
                             -11px -11px 22px #ffffbe;
                animation-delay: .0s;
            }
            #tres{
                grid-area:tres;
                border-radius: 10px;
                border-radius: 10px;
                background: #ffffff;
                box-shadow:  11px 11px 22px #666666,
                             -11px -11px 22px #ffffff;
                animation-delay: .10s;
            }
            #cuatro{
                grid-area:cuatro;
                border-radius: 10px;
                border-radius: 10px;
                background: #fecb3e;
                box-shadow:  5px 5px 10px #d0a633,
                             -5px -5px 10px #fff049;
                animation-delay: .8s;
            }
            #cinco{
                grid-area:cinco;
                border-radius: 10px;
                background: #ffd9a8;
                box-shadow:  5px 5px 10px #d1b28a,
                -5px -5px 10px #ffffc6; }
                animation-delay: .2s;
            #seis{
                grid-area:seis;
                border-radius: 10px;
                background: #e392fe;
                box-shadow:  5px 5px 10px #ba78d0,
                -5px -5px 10px #ffacff;           
                animation-delay: .3s;
            }
            #siete{
                grid-area: siete;
                border-radius: 10px;
                background: #ebebeb;
                box-shadow:  5px 5px 10px #c1c1c1,
                -5px -5px 10px #ffffff;  
                animation-delay: .7s;            
                img{
                    width: 70%;
                }
            }

        }
      
    }

    /*----productos a mostrar al dar click en ver --------*/
    .pagPizzas{
        background-color: rgba(0, 0, 0,.1);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        .contenedorDeproductos{
            background-color: white;
            margin-top: 20vh;
            width: 95vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .contenProductosPizzas{
                display: flex;
                flex-direction: row;
                padding: 10px;
                width: 95%;
                height: 20vh;
                background-color: rgba(242,242,242,.9);
                border-radius: 10px;
                .img{
                    border: 1px solid black;
                    border-radius: 10px;
                    width: 40%;
                    height: 100%;
                    img{
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .informacion{
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    .nombre{
                        text-align: center;
                        letter-spacing: 3px;
                    }
                    .ingredientesYprecio{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .agregar{
                            width: 40%;
                            ul{
                                padding: 5px;
                                li{
                                    text-align: center;
                                    list-style: none;
                                    font-size: .8em;
                                    font-style: italic;
                                    border-bottom: 1px solid rgba(0,0,0,.3);
                                }
                            }
                            
                        }
                        .precios{
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            margin:auto;
                            .butonPrecio{
                                font-size: .9em;
                                border: none;
                                outline: none;
                                background-color:  rgba(0,0,0,.4);
                                border-radius: 5px;
                                margin: 5px ;
                                cursor: pointer;
                                &:hover{
                                    background-color:  rgba(0,0,0,.3);

                                }

                            }
                        }
                    }
                }
            }
        }
        
    }


    .boton_back{
        margin-top: -30PX;
        position:fixed;
        text-decoration: none;
        width: 50px;
        height: 30px;
        button{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius:0  30px 30px 0;
            background-color: transparent;
            &:hover{
                color:rgb(219, 165, 79);
            }
            i{
                font-size: 1.5em;
                font-weight: bold;
                background: transparent;
               
            }
        }
    }
    /*      contenidoPresentacion        */

    .contenidoPresentacion{
        width: 100vw;
        height: 45vh;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .cajaPresentacion{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            margin-top: 10px;
            background-color: rgba(242,242,242,.9);

            .imgagenDescrip{
                width: 50%;
                img{
                    display: block;
                    width: 80%;
                    height: 30vh;
                    margin: 20px auto ;
                    border-radius: 10px;
                    border-radius: 10px;
                    background: linear-gradient(145deg, #ffffff, #e6e6e6);
                    box-shadow:  25px 25px 20px #d4d4d4;
                    
                }
                p{
                    font-size: .7em;
                    text-align: center;
                }
            }
        }
        .ingreName{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 1.3em;
                background-color:rgb(219, 165, 79) ;
                color: white;
                margin-top: 20px;
                text-align: center;
                font-style: italic;
            }
            .contentIngre{
                display: flex;
                flex-direction: column;
                align-items: center;
                .ingrediente{
                    width: 45px;
                    height: 45px;
                    margin-top: 10px;
                    margin-right: 30px;
                    border-radius: 50%;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  6px 1px 20px #808080;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }    
            }
           
           
        }
    }
    /*       precio y comprar  */

    .precioCompra{
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        margin-top: 5vh;
        background-color: rgba(242,242,242,.9);
        .precioTamano{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .precio{
                width: 100%;
                height: 50%;
                p{
                    display: block;
                    margin: auto;
                    text-align: center;
                    font-size: 1.5em;
                    letter-spacing: 2px;
                    font-style: italic;
                }
            }
            .tamano{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                label{
                    display: flex;
                    flex-direction: column;
                    font-size: 1.3em;
                    
                }
            }
        }
        .carritoContador{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            .contador{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .cont{
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                    margin: 5px;
                    border: none;
                    color: white;
                    background-color: rgb(219, 165, 79);
                }
                p{
                    display: block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    font-size: 1.8em;
                    color: rgb(219, 165, 79);
                }
            }
        }

    }

    



/* bottun de agregar */

    .agregarCarrito{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .agrega{
        position: relative;
        width: 70px;
        height: 30px;
        font-size: 10px;
        background-color: #202231;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: width .5s;
        border-radius: .5s;
        outline: none;
    }

    .agregarCarrito{
         .agrega *{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity .25s;
        }
        .palomita{
            opacity: 0;
        }
        .agrega:focus{
            width: 30px;
            background-color: #44c08a;
            border-radius: 50%;
            .text{
                opacity: 0;
            }
            .palomita{
                opacity: 1;
                transition-delay: .5s;
            }
        }
    }
/*---------------carrito-------------*/
    .titulo_letra{
        font-size: 1.2em;
    }
    .containerProductos{
        margin:10vh auto;
        width: 95vw;
        height: auto;
        
    }
    table{
        width: 100%;
        height: auto;
        text-align: center;
        border-spacing: 4px;
        thead{
            font-size: .6em;
            color: white;
            background-color:rgb(219, 165, 79);
            th{
                border: 1px solid rgba(114, 109, 109, 0.681);
                padding: 4px;
            }
        }
    }
    .tabla{
        tr{
           border: 1px solid rgb(190, 187, 187);
           text-align: center;
            td{
                font-size: .7em;
                border: 1px solid rgba(141, 134, 134, 0.612);
                padding: 5px;

            }
        }
    }

    .total{
        margin-top: 2vh;
        background-color:rgb(219, 165, 79);
        width: 50%;
        padding: 0;
        border-radius: 5px;
        padding: 5px;
        h1{
            font-size: 1em;
            width: auto;
            margin: auto;
            text-align: center;
            color: rgb(233, 230, 230);
            span{
                font-size: .9em;
                color: rgb(16, 15, 14);
            }
        }
    }
/*-------------------formulario-------------------*/
    .btn-abrir-popup{
        margin: 15vh auto;
        display: block;
        border-radius: 10px;
        padding: 5px;
        background-color: #d0a633;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .overlay{
        background-color: rgba(0, 0, 0,.1);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }
    .active{
        visibility: visible;
    }


    .popup{
        width: 90vw;
        height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(219, 165, 79);
        border-radius: 15px;
        margin-top: 30px;
        .cajabtn{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            height: 20px;
            margin-top: -70px;
            margin-bottom: 20px;

           
            .btn-cerrar-popup{
                font-size: 25px;
                line-height: 25px;
                display: block;
                text-align: right;
                margin-right: 50px;
                margin-top: 50px;
                color: #000;
                transition: .3s ease all;
                &:hover{
                    color: #fff;
                }
            }
        }

        .formulario{
            border-radius: 10px;
            background-color: white;
            margin-top: 15px;
            width: 80vw;
            height: 80%;
            display: flex;
            flex-direction: column;
            .conntenidoDtos{

                h1{
                    text-align: center;
                    font-size: 1.3em;
    
                }
                .formulariodatos{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;
                    legend{
                        text-align: center;
                        font-size: 1em;
                    }
                    label{
                        margin: 5px;
                        input{
                            font-size: 1em;
                            outline: none;
                            border: 1px solid rgb(209, 137, 70);
                            border-radius: 4px;
                        }
                    }
    
                }
                .botonForm{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-top: 40px;
                    input{
                        padding: 3px 20px;
                        margin: auto;
                        border: 1px solid black;
                        border-radius: 5px;
                        margin-bottom: 15px;
                        outline: none;
                        color: #000;
                        cursor: pointer;
                        &:hover{
                            opacity: .6;
                        }
                    }
                }

            }
           
        }
    }
    /*---------------cards de ususario*/
    .cards{
        width: 90vw;
        height: auto;
        margin: 10vh auto;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(242, 242, 242, 0.8);

        .icono{
            width: 100px;
            height: 100px;
            background-color: #e8a63b;
            display: flex;
            margin:20px auto ;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            i{
                font-size: 4em;
            }
        }
        .date{
            width: 80%;
            margin: 5px auto;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            h1{
                font-size: 1.3em;
                text-align: center;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            p{
                display: block;
                border-radius: 10px;
                font-size: .9em;
                text-align: center;
                background-color: rgba(238, 238, 238, 0.9);
                padding: 8px 0px;
                border-bottom: 1px solid #eba63b;
            }
        }

    }

}

