/*la fuente es de 100bold y 700italic*/
@media screen and (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .pizzas {
    z-index: -10;
    width: 100vw;
    height: auto;
  }
  .titulo {
    background-color: #dba54f;
    color: white;
    text-align: center;
    margin-top: 13vh;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
  }
  .container {
    width: 100vw;
    height: 85vh;
    background-color: #ffffff;
  }
  .container .portada {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .portada h1 {
    font-size: 5em;
    font-style: italic;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #070606;
  }
  .container .portada h1 span {
    font-size: .2em;
    letter-spacing: 3px;
  }
  .container .portada i {
    font-size: 5em;
    margin: 10px;
    color: #0e0d0d;
    -webkit-filter: drop-shadow(0px 0px 20px white);
            filter: drop-shadow(0px 0px 20px white);
  }
  .container .portada p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: italic;
    margin: 10px;
    letter-spacing: 3px;
    color: #040303;
  }
  .container .portada button {
    font-size: 1.2em;
    width: 150px;
    height: 30px;
    background-color: black;
    border: none;
    outline: none;
    margin: 0;
    -webkit-filter: drop-shadow(0 0 20px white);
            filter: drop-shadow(0 0 20px white);
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    border-radius: 6px;
  }
  .container .portada button a {
    text-decoration: none;
    color: white;
  }
  .container .portada button:active {
    background: white;
    border: 1px solid black;
  }
  .container .portada button:active a {
    color: black;
  }
  footer {
    width: 100vw;
    height: 15vh;
  }
  footer div {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    color: white;
  }
  footer div h4 {
    margin: 5px;
    color: white;
  }
  footer div ul {
    margin: 10px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer div ul li {
    list-style: none;
  }
  footer div ul li a i {
    color: white;
    margin: 5px;
  }
  .titulo_margin {
    margin-top: 2vh;
  }
  .sliderProducpizza {
    width: 100vw;
    height: 40vh;
    overflow: auto;
  }
  .sliderProducpizza .contentImg {
    overflow: hidden;
    width: 1000px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sliderProducpizza .contentImg .cajaImage {
    margin: auto;
    width: 145px;
    height: 80%;
    border-radius: 10px;
    background: #ebebeb;
    -webkit-box-shadow: 5px 5px 10px #5e5e5e, -5px -5px 10px #ffffff;
            box-shadow: 5px 5px 10px #5e5e5e, -5px -5px 10px #ffffff;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .sliderProducpizza .contentImg .cajaImage:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .sliderProducpizza .contentImg .cajaImage h4 {
    display: table;
    padding: 2px;
    margin: 5px 10px;
    font-size: .8em;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 0 4px 4px 4px;
  }
  .sliderProducpizza .contentImg .cajaImage img {
    display: block;
    width: 90%;
    height: 60%;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px #92948e;
            box-shadow: 0px 0px 10px #92948e;
  }
  .sliderProducpizza .contentImg .cajaImage button {
    display: block;
    outline: none;
    border: none;
    margin: 15px auto;
    font-size: .7em;
    padding: 2px 15px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
  }
  #title {
    text-align: center;
    color: #ebe1e1;
    font-style: italic;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    background-color: #949494;
  }
  .sliderComplement {
    width: 100vw;
    height: auto;
    margin: 2vh auto;
    border-radius: 5px;
  }
  .sliderComplement .contentComplement {
    width: 100%;
    margin-bottom: 70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1ft)[6];
        grid-template-rows: repeat(6, 1ft);
        grid-template-areas: "uno dos" "uno tres" "cuatro tres" "cuatro seis" "cinco seis" "siete siete";
    -webkit-column-gap: 5px;
            column-gap: 5px;
    row-gap: 15px;
    margin-bottom: 10vh;
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  .sliderComplement .contentComplement .cajacomplementos {
    width: 85%;
    border-radius: 10px;
    margin: auto;
    -webkit-animation: floatar 4s infinite linear;
            animation: floatar 4s infinite linear;
  }
  @-webkit-keyframes floatar {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes floatar {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .sliderComplement .contentComplement .cajacomplementos h4 {
    display: table;
    padding: 2px;
    margin: 5px 10px;
    font-size: .8em;
    background-color: #000;
    color: #fff;
    border-radius: 0 4px 4px 4px;
  }
  .sliderComplement .contentComplement .cajacomplementos img {
    display: block;
    width: 90%;
    height: 60%;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px #92948e;
            box-shadow: 0px 0px 10px #92948e;
  }
  .sliderComplement .contentComplement .cajacomplementos button {
    display: block;
    outline: none;
    border: none;
    margin: 15px auto;
    font-size: .7em;
    padding: 2px 15px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
  }
  .sliderComplement .contentComplement .rectangulo {
    margin: auto;
    height: 35vh;
  }
  .sliderComplement .contentComplement .cuadrado {
    height: 25vh;
  }
  .sliderComplement .contentComplement #uno {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: uno;
    border-radius: 10px;
    border-radius: 10px;
    background: #919191;
    -webkit-box-shadow: 11px 11px 22px #3a3a3a, -11px -11px 22px #e8e8e8;
            box-shadow: 11px 11px 22px #3a3a3a, -11px -11px 22px #e8e8e8;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }
  .sliderComplement .contentComplement #dos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: dos;
    border-radius: 10px;
    border-radius: 10px;
    background: #ffc677;
    -webkit-box-shadow: 11px 11px 22px #664f30, -11px -11px 22px #ffffbe;
            box-shadow: 11px 11px 22px #664f30, -11px -11px 22px #ffffbe;
    -webkit-animation-delay: .0s;
            animation-delay: .0s;
  }
  .sliderComplement .contentComplement #tres {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: tres;
    border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 11px 11px 22px #666666, -11px -11px 22px #ffffff;
            box-shadow: 11px 11px 22px #666666, -11px -11px 22px #ffffff;
    -webkit-animation-delay: .10s;
            animation-delay: .10s;
  }
  .sliderComplement .contentComplement #cuatro {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: cuatro;
    border-radius: 10px;
    border-radius: 10px;
    background: #fecb3e;
    -webkit-box-shadow: 5px 5px 10px #d0a633, -5px -5px 10px #fff049;
            box-shadow: 5px 5px 10px #d0a633, -5px -5px 10px #fff049;
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
  }
  .sliderComplement .contentComplement #cinco {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: cinco;
    border-radius: 10px;
    background: #ffd9a8;
    -webkit-box-shadow: 5px 5px 10px #d1b28a, -5px -5px 10px #ffffc6;
            box-shadow: 5px 5px 10px #d1b28a, -5px -5px 10px #ffffc6;
  }
  .sliderComplement .contentComplement #seis {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: seis;
    border-radius: 10px;
    background: #e392fe;
    -webkit-box-shadow: 5px 5px 10px #ba78d0, -5px -5px 10px #ffacff;
            box-shadow: 5px 5px 10px #ba78d0, -5px -5px 10px #ffacff;
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  .sliderComplement .contentComplement #siete {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: siete;
    border-radius: 10px;
    background: #ebebeb;
    -webkit-box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
            box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
  }
  .sliderComplement .contentComplement #siete img {
    width: 70%;
  }
  .boton_back {
    margin-top: -30PX;
    position: fixed;
    text-decoration: none;
    width: 50px;
    height: 30px;
  }
  .boton_back button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0  30px 30px 0;
    background-color: transparent;
  }
  .boton_back button:hover {
    color: #dba54f;
  }
  .boton_back button i {
    font-size: 1.5em;
    font-weight: bold;
    background: transparent;
  }
  /*      contenidoPresentacion        */
  .contenidoPresentacion {
    width: 100vw;
    height: 45vh;
    margin-top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenidoPresentacion .cajaPresentacion {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    background-color: rgba(242, 242, 242, 0.9);
  }
  .contenidoPresentacion .cajaPresentacion .imgagenDescrip {
    width: 50%;
  }
  .contenidoPresentacion .cajaPresentacion .imgagenDescrip img {
    display: block;
    width: 80%;
    height: 30vh;
    margin: 20px auto;
    border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    -webkit-box-shadow: 25px 25px 20px #d4d4d4;
            box-shadow: 25px 25px 20px #d4d4d4;
  }
  .contenidoPresentacion .cajaPresentacion .imgagenDescrip p {
    font-size: .7em;
    text-align: center;
  }
  .contenidoPresentacion .ingreName {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenidoPresentacion .ingreName h1 {
    font-size: 1.3em;
    background-color: #dba54f;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
  }
  .contenidoPresentacion .ingreName .contentIngre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenidoPresentacion .ingreName .contentIngre .ingrediente {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    -webkit-box-shadow: 6px 1px 20px #808080;
            box-shadow: 6px 1px 20px #808080;
  }
  .contenidoPresentacion .ingreName .contentIngre .ingrediente img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  /*       precio y comprar  */
  .precioCompra {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5vh;
    background-color: rgba(242, 242, 242, 0.9);
  }
  .precioCompra .precioTamano {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .precioCompra .precioTamano .precio {
    width: 100%;
    height: 50%;
  }
  .precioCompra .precioTamano .precio p {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-style: italic;
  }
  .precioCompra .precioTamano .tamano {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .precioCompra .precioTamano .tamano label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.3em;
  }
  .precioCompra .carritoContador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 100%;
  }
  .precioCompra .carritoContador .contador {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .precioCompra .carritoContador .contador .cont {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: white;
    background-color: #dba54f;
  }
  .precioCompra .carritoContador .contador p {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.8em;
    color: #dba54f;
  }
  /* bottun de agregar */
  .agregarCarrito {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .agrega {
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 10px;
    background-color: #202231;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: width .5s;
    transition: width .5s;
    border-radius: .5s;
    outline: none;
  }
  .agregarCarrito .agrega * {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
  }
  .agregarCarrito .palomita {
    opacity: 0;
  }
  .agregarCarrito .agrega:focus {
    width: 30px;
    background-color: #44c08a;
    border-radius: 50%;
  }
  .agregarCarrito .agrega:focus .text {
    opacity: 0;
  }
  .agregarCarrito .agrega:focus .palomita {
    opacity: 1;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  /*---------------carrito-------------*/
  .titulo_letra {
    font-size: 1.2em;
  }
  .containerProductos {
    margin: 10vh auto;
    width: 95vw;
    height: auto;
  }
  table {
    width: 100%;
    height: auto;
    text-align: center;
    border-spacing: 4px;
  }
  table thead {
    font-size: .6em;
    color: white;
    background-color: #dba54f;
  }
  table thead th {
    border: 1px solid rgba(114, 109, 109, 0.681);
    padding: 4px;
  }
  .tabla tr {
    border: 1px solid #bebbbb;
    text-align: center;
  }
  .tabla tr td {
    font-size: .7em;
    border: 1px solid rgba(141, 134, 134, 0.612);
    padding: 5px;
  }
  .total {
    margin-top: 2vh;
    background-color: #dba54f;
    width: 50%;
    padding: 0;
    border-radius: 5px;
    padding: 5px;
  }
  .total h1 {
    font-size: 1em;
    width: auto;
    margin: auto;
    text-align: center;
    color: #e9e6e6;
  }
  .total h1 span {
    font-size: .9em;
    color: #100f0e;
  }
  /*-------------------formulario-------------------*/
  .containerFormulario {
    width: 100vw;
    height: 80vh;
    margin-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #dba54f;
  }
  .containerFormulario .formulario {
    border-radius: 10px;
    background-color: white;
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerFormulario .formulario .conntenidoDtos h1 {
    text-align: center;
    font-size: 1.3em;
  }
  .containerFormulario .formulario .conntenidoDtos .formulariodatos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
  }
  .containerFormulario .formulario .conntenidoDtos .formulariodatos legend {
    text-align: center;
    font-size: 1em;
  }
  .containerFormulario .formulario .conntenidoDtos .formulariodatos label {
    margin: 5px;
  }
  .containerFormulario .formulario .conntenidoDtos .formulariodatos label input {
    font-size: 1em;
    outline: none;
    border: 1px solid #d18946;
    border-radius: 4px;
  }
  .containerFormulario .formulario .conntenidoDtos .botonForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .containerFormulario .formulario .conntenidoDtos .botonForm input {
    padding: 3px 20px;
    margin: auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
  }
  .containerFormulario .formulario .conntenidoDtos .botonForm input:hover {
    opacity: .6;
  }
  /*---------------cards de ususario*/
  .cards {
    width: 90vw;
    height: auto;
    margin: 20px auto;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(242, 242, 242, 0.8);
  }
  .cards .icono {
    width: 100px;
    height: 100px;
    background-color: #e8a63b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
  }
  .cards .icono i {
    font-size: 4em;
  }
  .cards .date {
    width: 80%;
    margin: 5px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5px;
  }
  .cards .date h1 {
    font-size: 1.3em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .cards .date p {
    display: block;
    border-radius: 10px;
    font-size: .9em;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.9);
    padding: 8px 0px;
    border-bottom: 1px solid #eba63b;
  }
}
/*# sourceMappingURL=style.css.map */