$fuenteuno:'Roboto Mono', monospace;
$colorNaranje:#e88431;
$colorNarLetra:#cb8617;
$colorNarClaroLetra:#efae45;
$colorGris:#857253;
$colorNegLetra:#000;
$colorBlanc:#fff;
$colorBlackOpaci:rgba(143, 135, 135, 0.158);
// body{
//     background-color: #cb8617;
// }

@media screen and (min-width:320px) {
    *{        
        margin: 0;
        padding: 0;
        box-sizing: border-box;  
    }
    /*el primer titulo despues de nav*/
    .titulo{
        background-color: rgb(219, 165, 79);
        color: white;
        text-align: center;
        margin-top: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
    }
    
    
    /*portada*/
    .contenedorPortada{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 85vh;  
        background-color: #ffffff;
        transition: .5s;
        .portada{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 5em;
                font-style: italic;
                margin: 10px;
                display: flex;
                flex-direction:column ;
                color: $colorNarLetra;
                span{
                    color: $colorNegLetra;
                    font-size: .2em;
                    letter-spacing: 3px;
                    
                }
            }
            i{
                font-size: 5em;
                margin: 10px;
                color: $colorNaranje;
                filter: drop-shadow(10px 20px 6px $colorGris);
            }
            p{
                font-family: $fuenteuno;
                font-weight: 300;
                font-style: italic;
                margin: 10px;
                letter-spacing: 3px;
                color: rgb(4, 3, 3);
            }
            .ocultar{
                font-size: 1.2em;
                width: 150px;
                height: 30px;
                background-color: black;
                border: none;
                outline: none;
                margin: 0;
                margin: 8px auto;
                cursor: pointer;
                font-family: $fuenteuno;
                font-style: italic;
                border-radius: 6px;
                a{
                    text-decoration: none;
                    color: $colorNarClaroLetra;

                }
                &:active{
                    color:$colorBlanc ;
                   a{
                       color: $colorBlanc;
                   }
                    border: 1px solid $colorNaranje;
                }

            }

        }
    }
    footer{
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 18vh;
        div{
            background-color: $colorNaranje;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: $colorNegLetra;
            h4{
                margin: 10px auto 0;
                color: $colorNegLetra;
            }
            ul{
                margin: 10px;
                width: 50%;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: -10px auto auto;
                li{
                    list-style: none;
                    transition: .5s;
                    a{
                        i{
                            color: $colorNegLetra;
                            margin: 5px;
                            
                        }
                    }
                    &:hover{
                        transform: scale(1.5);
                    }
                }
            }

        }
    }
   
    .productos{
        overflow: auto;
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 15vh;
        .card{
            border: none;
            background: rgba(235, 235, 235, 0);
            box-shadow:  5px 5px 10px #5e5e5e,
                            -5px -5px 10px #ffffff;
            width: 90%;
            height: 14vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-top: 7vh;
            
            .contentImage{
                width: 35%;
                height: 90%;
                border-radius: 5px ;
                img{
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                    border-radius: 5px ;
                }
                p{
                    border-radius: 5px;
                    display: block;
                    width: 100%;
                    height: 30%;
                    text-align: center;
                    font-size: .7em;
                }
            }
            .contentInfor{
                width: 60%;
                height: 95%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                .precio{
                    width: 30%;
                    height: 30%;
                    margin: auto;
                    font-size: 1em;
                    border-radius: 5px;
                    margin: auto;
                }
                .ver{
                    width: 30%;
                    height: 40%;
                    background-color: $colorBlackOpaci;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    margin: auto;
                    font-size: 1em;
                    transition: .5s;

                    &:hover{
                        transform: scale(1.099);
                    }
                }
                .agregarCarrito{
                    width: 30%;
                    height: 40%;
                    background-color: $colorBlackOpaci;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    font-size: 1.3em;
                    margin: auto;
                    color: #000000;
                    transition: .5s;
                    &:hover{
                        transform: scale(1.099);
                    }
                }

            }
        }
    }
    .carritoCards{
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        box-shadow: 0 10px 20px 5px rgba(0,0,0,0.05);        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        overflow: auto;
        .btnCerrarCarrito{
            width: 100vw;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius:10px ;
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.188);
            backdrop-filter: blur(20px);
            
            h1{
                margin-left: 20px;
            }
            button{
                width: 35px;
                height: 35px;
                border: none;
                border-radius: 50%;
                background-color: #276967;
                margin-right: 20px;
                outline: none;
                i{
                    font-size: 1.1em;
                }
            }
        }
        .carritoAgregado{
            width: 90vw;
            height: auto;
            margin-top:50px ;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.188);
            backdrop-filter: blur(20px);
            .cabeceraCarrito{
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
                background-color: $colorNaranje;
                color: $colorBlanc;
                border-radius: 5px;

                p{
                    width: 25%;
                    height: 100%;
                    margin: 0;
                    text-align: center;
                    font-size: .9em;
                    font-weight: bold;
                }
            }
            .productosCarrito{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                
                .articulos{
                    display: flex;
                    .precioUnitario{
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        font-size: .9em;
                        text-align: center;
                    }
                    p{
                        width: 25%;
                        padding: 2px;
                        height: 50px;
                        font-size: .8em;
                        word-wrap: break-word;
                        border-right: 1px solid rgba(255,255,255,.5);
                        
                    }
                    .eliminar{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            i{
                                font-size: 1.3em;
    
                            }
                        }
                        .botones{
                            height: 30px;
                            width: 27%;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            .boton{
                                width: 25px;
                                height: 25px;
                                border: none;
                                outline: none;
                                border-radius: 4px;
                                background-color:#276967;
                                font-size: .7em;
                            }
                        }
                }
                
            }

            
            .total{
                margin-left:10px ;
                font-weight: bold;
                span{
                    font-style: italic;
                    font-weight: 400;
                }
            }
            .btnPagar{
                width: 70px;
                height: 25px;
                font-size: .8em;
                border-radius: 5px;
                margin-left: 30px;
                margin-bottom: 10px;
                background-color: #000;
                color: white;
                border: none;
                outline: none;
                &:hover{
                    background-color: rgba(0,0,0,.7);
                }
            }

        }
        visibility: hidden;
    }
    .ver{
        visibility: visible;
    }
    
    
     /*estilos formulario*/
     .overlay{
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.188);
        backdrop-filter: blur(20px);        
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .popup{
            width: 90%;
            height: 90%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .formulario{
                width: 90%;
                height: 100%;
                border: 1px solid rgba(255,255,255,0.5);
                margin: 10px auto auto;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(20px);
                box-shadow: 0 10px 20px 5px rgba(0,0,0,0.05);
                h1{
                    margin-top: 20px;
                }
                form{
                    width: 95%;
                    height: 95%;
                    border: 1px solid rgba(255,255,255,0.5);
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    overflow: auto;
                    legend{
                        text-align: center;
                    }
                    label{
                        width: 60%;
                        height: 80px;
                        display: flex;
                        overflow: hidden;
                        input{
                            width: 100%;
                            height: 100%;
                            font-size: .8em;
                            margin: auto;
                            border:none;
                            border-bottom: 1px solid #e88431;
                            background-color: transparent;
                            
                            outline: none;
                        }
                        input::placeholder{
                            color:rgb(137, 134, 134);
                            transition: .5s;
                        }
                        input:focus::placeholder{
                            transform: translateY(30px);

                        }
                    }
                    .botonForm{
                        margin-top: 10px;

                        width: 70%;
                        height: 30px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;

                        .btnDatos{
                            background-color: rgba(143, 135, 135, 0.158);
                            backdrop-filter: blur(10px);
                            width: 40%;
                            height: 80%;
                            border: none;
                            outline: none;
                            border-radius: 10px;
                            text-align: center;
                            cursor: pointer;
                            font-size: .8em;
                            transition: .2s;
                            &:hover{
                                background-color: $colorNarClaroLetra;
                                backdrop-filter: blur(10px);
                                color: $colorBlanc;
                            }
                        }
                    }

                }
            }
        }
        // visibility: hidden;
        // transform: translateY(-100%);
        // transition: .5s;

    }
    .activeDos
    {
        visibility: visible;
        transition: .5s;
        transform: translateY(0%);
    }
    /*---------------cards de ususario*/

    .cards{
        width: 90vw;
        height: auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.188);
        backdrop-filter: blur(20px);
        margin-top: 10px;
        margin-bottom: 30px;

        .icono{
            width: 100px;
            height: 100px;
            background-color: #e8a63b;
            display: flex;
            margin:20px auto ;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            i{
                font-size: 4em;
            }
        }
        .date{
            width: 80%;
            margin: 5px auto;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            h1{
                font-size: 1.3em;
                text-align: center;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            p{
                display: block;
                border-radius: 10px;
                font-size: .9em;
                text-align: center;
                background-color: rgba(238, 238, 238, 0.9);
                padding: 8px 0px;
                border-bottom: 1px solid #eba63b;
            }
        }
        .btnContinuar{
            display: none;
            border: none;
            outline: none;
            padding: 5px 8px;
            border-radius: 5px;
            margin-bottom: 5px;
            font-size: .7em;
            transition: .5s;
            &:hover{
                background: #74737230;
            }
        }
    }
    .verBoton{
        display: block;
    }
      

}