@media screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /*el primer titulo despues de nav*/
  .titulo {
    background-color: #dba54f;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
  }
  /*portada*/
  .contenedorPortada {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 85vh;
    background-color: #ffffff;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .contenedorPortada .portada {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedorPortada .portada h1 {
    font-size: 5em;
    font-style: italic;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #cb8617;
  }
  .contenedorPortada .portada h1 span {
    color: #000;
    font-size: .2em;
    letter-spacing: 3px;
  }
  .contenedorPortada .portada i {
    font-size: 5em;
    margin: 10px;
    color: #e88431;
    -webkit-filter: drop-shadow(10px 20px 6px #857253);
            filter: drop-shadow(10px 20px 6px #857253);
  }
  .contenedorPortada .portada p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: italic;
    margin: 10px;
    letter-spacing: 3px;
    color: #040303;
  }
  .contenedorPortada .portada .ocultar {
    font-size: 1.2em;
    width: 150px;
    height: 30px;
    background-color: black;
    border: none;
    outline: none;
    margin: 0;
    margin: 8px auto;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    border-radius: 6px;
  }
  .contenedorPortada .portada .ocultar a {
    text-decoration: none;
    color: #efae45;
  }
  .contenedorPortada .portada .ocultar:active {
    color: #fff;
    border: 1px solid #e88431;
  }
  .contenedorPortada .portada .ocultar:active a {
    color: #fff;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 18vh;
  }
  footer div {
    background-color: #e88431;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    color: #000;
  }
  footer div h4 {
    margin: 10px auto 0;
    color: #000;
  }
  footer div ul {
    margin: 10px;
    width: 50%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -10px auto auto;
  }
  footer div ul li {
    list-style: none;
    -webkit-transition: .5s;
    transition: .5s;
  }
  footer div ul li a i {
    color: #000;
    margin: 5px;
  }
  footer div ul li:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .title {
    background-color: #dba54f;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    width: 100%;
  }
  .uno {
    position: absolute;
    top: 8vh;
  }
  .dos {
    position: absolute;
    top: 190vh;
  }
  .tres {
    position: absolute;
    top: 370vh;
  }
  .cuatro {
    position: absolute;
    top: 510vh;
  }
  .cinco {
    position: absolute;
    top: 630vh;
  }
  .productos {
    overflow: auto;
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 15vh;
  }
  .productos .card {
    border: none;
    background: rgba(235, 235, 235, 0);
    -webkit-box-shadow: 5px 5px 10px #5e5e5e, -5px -5px 10px #ffffff;
            box-shadow: 5px 5px 10px #5e5e5e, -5px -5px 10px #ffffff;
    width: 90%;
    height: 13vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 7vh;
  }
  .productos .card .contentImage {
    width: 35%;
    height: 90%;
    border-radius: 5px;
  }
  .productos .card .contentImage img {
    width: 100%;
    height: 75%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
  .productos .card .contentImage p {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: .9em;
  }
  .productos .card .contentInfor {
    width: 60%;
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .productos .card .contentInfor .precio {
    width: 30%;
    height: 30%;
    margin: auto;
    font-size: 1em;
    border-radius: 5px;
    margin: auto;
  }
  .productos .card .contentInfor .ver {
    width: 30%;
    height: 40%;
    background-color: rgba(143, 135, 135, 0.158);
    border: none;
    outline: none;
    border-radius: 5px;
    margin: auto;
    font-size: 1em;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .productos .card .contentInfor .ver:hover {
    -webkit-transform: scale(1.099);
            transform: scale(1.099);
  }
  .productos .card .contentInfor .agregarCarrito {
    width: 30%;
    height: 40%;
    background-color: rgba(143, 135, 135, 0.158);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.3em;
    margin: auto;
    color: #000000;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .productos .card .contentInfor .agregarCarrito:hover {
    -webkit-transform: scale(1.099);
            transform: scale(1.099);
  }
  .carritoCards {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow: auto;
    visibility: hidden;
  }
  .carritoCards .btnCerrarCarrito {
    width: 100vw;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.188);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .carritoCards .btnCerrarCarrito h1 {
    margin-left: 20px;
  }
  .carritoCards .btnCerrarCarrito button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #276967;
    margin-right: 20px;
    outline: none;
  }
  .carritoCards .btnCerrarCarrito button i {
    font-size: 1.1em;
  }
  .carritoCards .carritoAgregado {
    width: 90vw;
    height: auto;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.188);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .carritoCards .carritoAgregado .cabeceraCarrito {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #e88431;
    color: #fff;
    border-radius: 5px;
  }
  .carritoCards .carritoAgregado .cabeceraCarrito p {
    width: 25%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-size: .9em;
    font-weight: bold;
  }
  .carritoCards .carritoAgregado .productosCarrito {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carritoCards .carritoAgregado .productosCarrito .articulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .carritoCards .carritoAgregado .productosCarrito .articulos .precioUnitario {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: .9em;
    text-align: center;
  }
  .carritoCards .carritoAgregado .productosCarrito .articulos p {
    width: 25%;
    padding: 2px;
    height: 50px;
    font-size: .8em;
    word-wrap: break-word;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  .carritoCards .carritoAgregado .productosCarrito .articulos .eliminar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .carritoCards .carritoAgregado .productosCarrito .articulos .eliminar i {
    font-size: 1.3em;
  }
  .carritoCards .carritoAgregado .productosCarrito .articulos .botones {
    height: 30px;
    width: 27%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .carritoCards .carritoAgregado .productosCarrito .articulos .botones .boton {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #276967;
    font-size: .7em;
  }
  .carritoCards .carritoAgregado .total {
    margin-left: 10px;
    font-weight: bold;
  }
  .carritoCards .carritoAgregado .total span {
    font-style: italic;
    font-weight: 400;
  }
  .carritoCards .carritoAgregado .btnPagar {
    width: 70px;
    height: 25px;
    font-size: .8em;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    background-color: #000;
    color: white;
    border: none;
    outline: none;
  }
  .carritoCards .carritoAgregado .btnPagar:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .ver {
    visibility: visible;
  }
}
/*# sourceMappingURL=style.css.map */